/*Tigra orange: #E46B2B*/

.btn{
	white-space:normal;  /*wraps text on buttons*/
}

.points.badge{
	background-color: #e46b2b;
}

.points.glyphicon-play{
	color:#e46b2b;
}

#cat-entry-container{
	width: 100%;
}

#subscore-modal{
	color: white;
	font-weight: bold;
}

.modal-backdrop.in{
	opacity: .9;
}

.level {
	text-transform: capitalize;
}