/*Tigra orange: #E46B2B
 complementary green: #00A472
 bootstrap default jumbotron background color: #eee*/


html,body {
	height:100%;
	background-color: #eee;
}

/*.vertical-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.btn{
	white-space:normal;  /*wraps text on buttons*/
}

#sub-footer{
	font-size: xx-small;
	text-align: center;
}

.points.badge{
	background-color: #e46b2b;
}

.points.glyphicon-play{
	color:#e46b2b;
}

.glyphicon{
	color:#e46b2b
}

#cat-entry-container{
	width: 100%;
}

#subscore-modal{
	color: white;
	font-weight: bold;
	font-size: small
}

#score-modal{
	color: white;
	font-weight: bold;
	font-size: x-small !important;
}

#teaser-container{
	padding: 0; 
	display: flex;
  	justify-content: center;
  	align-items: center;
  	overflow: scroll;
}

.modal{
	overflow: scroll;
}


#total-score-container{
	padding: 8px;
	color: #E46B2B;
	text-align: center;
}


#in_progress_score_container{
	text-align: right;
}

.modal-footer>.btn{
	color: #E46B2B
}

#learn-more >.btn {
	text-align: center;
	margin-top: 5px;
}
#learn-more {
	text-align: center;

}

.modal-footer{
	text-align: center;
}

#close-score-modal{
	margin-top: 5px;
}
.preferred-button{
	font-weight: bold
}

#teaser-footer{
	background-color: #E46B2B;
	color: #eee;
	text-align: center;
	 font-weight: 900;
}

#footer-text{
  position: relative;
  top: 50%;
  transform: translateY(25%);
  font-weight: bold;
}

#landing-header{
	color:#E46B2B;
	font-weight: 900;
	font-family: "ela_sans_light_capsregular";
}

#play-invitation{
	font-style: italic;
}

#landing-header > h2{
	text-transform: uppercase;
}

#landing-header > p{
	font-size: small;
	font-family: "arial";
}

.modal-backdrop.in{
	opacity: .9;
}


.level {
	text-transform: capitalize;
}