/*Tigra orange: #E46B2B
 complementary green: #00A472
 bootstrap default jumbotron background color: #eee*/


html,body {
height:100%;
background-color: #eee;
}

.jumbotron {
height:100%;
}

.btn{
	white-space:normal;  /*wraps text on buttons*/
}

.points.badge{
	background-color: #e46b2b;
}

.points.glyphicon-play{
	color:#e46b2b;
}

#cat-entry-container{
	width: 100%;
}

#subscore-modal{
	color: white;
	font-weight: bold;
}

#teaser-container{
	padding: 0;
}

.modal-backdrop.in{
	opacity: .9;
}


.level {
	text-transform: capitalize;
}